:root {
  --main-color: #1fa2f1;
  --secondary-color: #9bd1f9;
  --button-hover-bg: #d4edff;
  --border-color: rgb(230, 236, 240);
  --border-style: 1px solid var(--border-color);
  --spacing: 15px;
  --text-secondary-color: rgb(101, 119, 134);
  --button-main-text-color: rgba(0, 0, 0, 0.34);
}

* {
  outline: none !important;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-size: 19px;
  font-weight: 800;
  margin: 0;
}

a:hover {
  color: inherit;
  text-decoration: none;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 100%;
}

nav a {
  display: block;
  padding: 10px;
  font-size: 25px;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #212529;
}

nav a.blue {
  color: var(--main-color);
}

nav a:hover {
  background-color: var(--button-hover-bg);
  color: var(--main-color);
  border-radius: 50%;
}

button {
  background-color: inherit;
  border: none;
  color: var(--button-main-text-color);
}

.mainSectionContainer {
  padding: 0;
  border-left: var(--border-style);
  border-right: var(--border-style);
  display: flex;
  flex-direction: column;
}

.titleContainer {
  height: 53px;
  padding: 0 var(--spacing);
  display: flex;
  align-items: center;
  border-bottom: var(--border-style);
  flex-shrink: 0;
}

.titleContainer h1 {
  display: flex;
}

/*
Post Form Style
*/
.postFormContainer {
  display: flex;
  padding: var(--spacing);
  flex-shrink: 0;
  border-bottom: 10px solid var(--border-color);
}

.userImageContainer {
  width: 50px;
  height: 50px;
}

.userImageContainer img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: white;
}

.textareaContainer {
  flex: 1;
  padding-left: var(--spacing);
}

.textareaContainer textarea {
  width: 100%;
  border: none;
  resize: none;
  font-size: 19px;
}

#submitPostButton {
  background-color: var(--main-color);
  color: white;
  border-radius: 40px;
  border: none;
  padding: 7px 15px;
}

#submitPostButton:disabled {
  background-color: var(--secondary-color);
}

/*
Post Style
*/

.post {
  display: flex;
  flex-direction: column;
  padding: var(--spacing);
  cursor: pointer;
  flex-shrink: 0;
  border-bottom: var(--border-style);
}

.mainContentContainer {
  display: flex;
  flex: 1;
}

.postContentContainer {
  padding-left: var(--spacing);
  display: flex;
  flex-direction: column;
  flex: 1;
}

.postHeader a,
.postHeader span {
  padding-right: 5px;
}

.postHeader a:hover {
  text-decoration: underline;
}

.username,
.date {
  color: var(--text-secondary-color);
}

.displayName {
  font-weight: bold;
}

.postFooter {
  display: flex;
  align-items: center;
}

.postFooter .postButtonsContainer {
  flex: 1;
  display: flex;
}

.postFooter .postButtonsContainer button {
  padding: 5px;
}

.postButtonsContainer button:hover {
  background-color: #d4edff;
  color: var(--main-color);
  border-radius: 50%;
}
